* {
    padding: 0;
    box-sizing: 0;
    margin: 0;
    font-size: 20px;
}

.clock {
    font-size: 1000%;
    font-family: Arial;
    color: rgba(13, 11, 11, 0.66);
    text-align: center;
    margin-top: 3%;
    height: 975px;
}

h1 {
    font-size: 500%;
    font-family: Arial;
    color: rgba(237, 16, 50, 0.57);
    text-align: center;
    text-decoration: underline;
    margin-top: 10%;
}